.nbtn {
    width: 15%;
    position: absolute;
    left: 60%;
    transform: translateX(-50%) !important;
    /* transform: translateX(100px) !important; */
    margin-top: 0px !important
}

.bbtn {
    width: 15%;
    position: absolute;
    left: 40%;
    transform: translateX(-50%) !important;
    /* transform: translateX(-100px) !important */
}

.cttext {
    text-align: center
}