.nbtn {
    width: 150px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transform: translateX(100px)
}

.bbtn {
    width: 150px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transform: translateX(-100px)
}